/*
 * BARRA
 */

div#rececoSideBar {
	moz-box-shadow: 0px 0px 20px black;
	webkit-box-shadow: 0px 0px 20px black;
	box-shadow: 0px 0px 20px black;
	position: fixed;
	top: 30px;
	right: 0px;
	width: 250px;
	height: 100%;
	background: rgba(0,0,0,0.8);
	font-family: Verdana, Arial;
	z-index: 99999999;
}

div#rececoSideBar iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 250px;
	overflow: hidden;
	height: 100%;
	border: none;
}

/*
 * HEADER
 */

#rececoHeader * {
	/* RESET */
	background: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;
}

div#rececoHeader {
	moz-box-shadow: 0px 0px 20px black;
	webkit-box-shadow: 0px 0px 20px black;
	box-shadow: 0px 0px 20px black;
	background: url('http://app.receco.eu/img/bg/concrete_wall.png') repeat #E6E6E6;
	color: #FFFFFF;
	font-family: Arial,helvetica,sans-serif;
	height: 30px;
	width: 250px;	
	position: fixed;
	right: 0;
	top: 0;
    background-color: #000000;
	z-index: 99999999;
}

#rececoHeader span {
	position: absolute;
	top: 9px;
	left: 9px;
	font-size: 12px;
	font-weight: bold;
}

#rececoHeader a {
	background: none;
	cursor: pointer;
    padding: 0;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 4px; 	
}

#rececoHeader a.close {
	background: url('http://app.receco.eu/img/icons/close-2states.png') no-repeat scroll -5px -5px transparent;
	right: 5px; 
}

#rececoHeader a.home {
	background: url('http://app.receco.eu/img/icons/home-2states.png') no-repeat scroll -5px -5px transparent;
	right: 25px;	
}

#rececoHeader a.download {
	background: url('http://app.receco.eu/img/icons/warning-2states.png') no-repeat scroll -5px -5px transparent;
	right: 45px; 
}

#rececoHeader a:hover {
	background-position: -5px -35px;
	cursor: pointer;
}
